
  <% search = Listing.all %>
  <% if params[:keyword] %>
    <% search = Listing.joins(:pokemon).where("pokemons.name ILIKE '%#{params[:keyword]}%'") %> 
  <% end %>

  <% if search.any? %>
    <table class="table listing-table">
      <thead>
        <th>Pokeman for Sale</th>
        <th>I'm looking for</th>
        <th>Price</th>
      </thead>
      <tbody>
        <% search.each do |listing|%>
          <tr>
          <% p = listing.pokemon %>
          <% wl = listing.wishlist %>
          <td>
            <div class="listing-table-td button-tooltip">
              <span class="button-tooltiptext">Tooltip text</span>
              <img src="<%= p.image_url %>"><%= p.name %>
            </div>
          </td>
          <td><div class="listing-table-td">
            <% wl.pokemons.each do |wl_p|%>
            <div class="col-md-3 listing-table-td">
              <img src="<%= wl_p.image_url%>"
                <% if @user.pokemons.select{|p| p.species.id == wl_p.species.id}.any?%>
                  class = "listings-wishlist-user-owned"
                <% end %>
              >
              </div>
            <% end %>
          </div></td>
          <td><div class="listing-table-td"><%= listing.price ? (listing.price / 100.00).round(2) : 0 %>$</div></td>
          <td>
            <div class="listing-table-td">
              <form method="post" action="listings/add_to_cart">
                <input type="hidden" name="listing_id" value=<%= listing.id %> >
                <button class="btn btn-primary">Add to cart</button>
              </form>
            </div>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No result found</p>
  <% end %>

