
  <% search = Listing.all %>
  <% if params[:keyword] %>
    <% search = Listing.joins(:pokemon).where("pokemons.name ILIKE '%#{params[:keyword]}%'") %> 
  <% end %>

  <% if search.any? %>
    <table class="table listing-table">
      <thead>
        <th>Pokeman for Sale</th>
        <th>CP</th>
        <th>Type</th>
        <th>Quick Move</th>
        <th>Charge Move</th>
        <th>I'm looking for</th>
        <th>Price</th>
      </thead>
      <tbody class="listing-table-body">
        <% search.each do |listing|%>
          <tr>
          <% p = listing.pokemon %>
          <% wl = listing.wishlist %>
          <td>
            <div class=" button-tooltip">
              <div class="button-tooltiptext">
                <div class="popup-img"><img src="<%= p.image_url %>"></div>
                <div class=""><p><%= p.name %></p></div>
              </div>
              <img src="<%= p.image_url %>" class="td-icon">
              <div><%= p.name %></div> 
            </div>
          </td>
          <td>
            <span><%= p.cp ? p.cp : "N/A" %></span>
          </td>
          <td>
            <div class="species-type-wrapper">
              <% p.species.types.each do |type|%>
                <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
              <% end %>
            </div>
          </td>
          <td>
            <span><%= p.quick_move ? p.quick_move.name : "N/A"%> </span>
          </td>
          <td>
            <span><%= p.charge_move ? p.charge_move.name : "N/A"%> </span>
          </td>
          <td><div>
            <% wl.pokemons.each do |wl_p|%>
            <div class="col-md-2">
                <div class=" button-tooltip">
                   <% if @user.pokemons.select{|p| p.species.id == wl_p.species.id}.any?%>
                        <div class="button-tooltiptext">
                          <div class="popup-name"><span><%= wl_p.name %></span></div>
                          <div class="popup-img"><img src="<%= wl_p.image_url %>"></div>
                          <div class="popup-message-own">You own this pokemon</div>
                        </div>
                        <img src="<%= wl_p.image_url%>" class="td-icon listings-wishlist-user-owned">
                  <% else%>
                        <div class="button-tooltiptext">
                          <div class="popup-name"><span><%= wl_p.name %></span></div>
                          <div class="popup-img"><img src="<%= wl_p.image_url %>"></div>
                          <div class="popup-message-not-own">You don't own this.</div>
                        </div>
                        <img src="<%= wl_p.image_url%>" class="td-icon">
                  <% end %>
                </div>
              </div>
            <% end %>
          </div></td>
          <td><div><%= listing.price ? (listing.price / 100.00).round(2) : 0 %>$</div></td>
          <td>
            <div>
              <form method="post" action="listings/add_to_cart">
                <input type="hidden" name="listing_id" value=<%= listing.id %> >
                <button class="btn btn-primary">Add to cart</button>
              </form>
            </div>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No result found</p>
  <% end %>

