
<% user = User.find(session[:user_id])%>

<div class="panel panel-default col-md-10 col-md-offset-1">

  <div>
    <ul class="nav nav-pills nav-justified">
      <li role='presentation' class="active"><a class="tab-link" href="#owned-pokemon-list">Your Pokemons</a></li>
      <li role='presentation'><a class="tab-link" href="#wish-list">Wishlist</a></li>
      <li role='presentation'><a class="tab-link" href="#trade-list">Trade List</a></li>
    </ul>
  </div>
  <div class="tabs">
      <div class="panel-body" id="owned-pokemon-list">
        <div class="row">
          <% user.pokemons.each do |pokemon|%>
            <div class="col-md-2 col-pokedex">
              <div class="thumbnail">
                <div class= "thumbnail-wrapper">
                  <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>" >
                </div>
                <div class="notch-collectibles-small thumbnail-actions">
                  <div class="collectibles-wrapper" data-collectibles-slug="bulbasaur" data-slug="bulbasaur">   
                    <!--buttons-->
                    <a href="pokemon/add/<%= pokemon.id %>"><span class='glyphicon glyphicon-transfer'></span></a>
                    <a href="link to add wishlist page"><span class='glyphicon glyphicon-cog'></span></a>  
                  </div>
                </div>
                <div class="caption">
                  <%= pokemon.name %>
                </div>

                <div class="species-type-wrapper">
                  <% pokemon.species.types.each do |type|%>
                  <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
                  <% end %>
                </div>

              </div>
            </div>
          <% end %>
        </div>
      </div>
    <a href = "/user/<%= user.id%>/pokemon/new" class="btn btn-primary"> Add pokemon </a>


<!-- Wist List -->
    <div id="wish-list">
      <div class="panel-body">
        <div class="row">
          <% @user.user_wish_list.pokemons.each do |pokemon|%>
            <div class="col-md-2 col-pokedex" data-species-id="<%= pokemon.species.id %>">
              <div class="thumbnail">
                <div class= "thumbnail-wrapper">
                  <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>" >
                </div>

                <div class="thumbnail-actions">
                    <div class="button-tooltip wish_list_button_wrapper">
                      <span class="button-tooltiptext">Remove from Wishlist</span>
                      <a class="wish_list_button" href="" data-species-id="<%= pokemon.species.id %>" ><span class='glyphicon glyphicon-remove-sign'></span></a>   
                    </div>
                </div>

                <div class="caption">
                  <%= pokemon.species.name %>
                </div>

                <div class="species-type-wrapper">
                  <% pokemon.species.types.each do |type|%>
                  <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
                  <% end %>
                </div>

              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

<!-- Trade List -->

    <div id="trade-list">
      asdfasdf
    </div>

  </div>
</div>

