<table class="table">
      <thead>
        <th>Pokeman for Sale</th>
        <th>I'm looking for</th>
        <th>Price</th>
      </thead>
      <tbody>
        <% @cart.listings.each do |listing|%>
          <tr>
          <% p = listing.pokemon %>
          <% pt = listing.pokemon_trade %>
          <td><img src="<%= p.image_url %>"><%= p.name %></td>
          <td><%= pt ? "<img src=\"#{pt.image_url}\">" : nil %><%= pt ? pt.name : nil %></td>
          <td><%= pt ? (listing.price / 100.00).round(2) : 0 %>$</td>
          <td>
          <form method="POST" action="/cart/listing">
            <input type="hidden" name="listing_id" value="<%= listing.id %>">
            <input type="hidden" name="_method" value="delete">
            <button class="btn btn-primary">Remove</button>
          </form>
          </td>
          </tr>
        <% end %>
      </tbody>
</table>