<%= erb :'/search_bar'%>
<%listings = @user.cart.listings%>
<%current_listings = listings.where("status = 'current'")%>
<%completed_listings = listings.where("status= 'completed'")%>

<!--Current saved listings table-->
<div class='listing-table'><h1 class='intro-text'>Bookmarked Listings</h1></div>
<table class="table listing-table">
  <thead>
    <th>Pokeman for Sale</th>
    <th>CP</th>
    <th>Type</th>
    <th>Quick Move</th>
    <th>Charge Move</th>
    <th>Seller looking for</th>
    <th>Price</th>
  </thead>
  <tbody class="listing-table-body"> 
    <% if current_listings.any? %>
      <% current_listings.each do |listing|%> 
        <tr data-listing-id="<%=listing.id%>" data-pokemon-url="<%= listing.pokemon.image_url %>" data-pokemon-name="<%= listing.pokemon.species.name %>" data-pokemon-cp="<%= listing.pokemon.cp %>" data-pokemon-price="<%= (listing.price / 100.0).round(2) %>" class="listing-row listing-table-row">
        <% p = listing.pokemon %>
        <% wl = listing.wishlist %>
          <td> <!--Pokemon for Sale-->
            <div class=" button-tooltip">
              <div class="button-tooltiptext">
                <div class="popup-img"><img src="<%= p.image_url %>"></div>
                <div class=""><p><%= p.name %></p></div>
              </div>
              <img src="<%= p.image_url %>" class="td-icon">
              <div class="pokemon-for-sale-name"><%= p.name %></div> 
            </div>
          </td>
          <td> <!-- CP -->
            <span><%= p.cp ? p.cp : "N/A" %></span>
          </td>
          <td> <!--Type-->
            <div class="species-type-wrapper">
              <% p.species.types.each do |type|%>
                <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
              <% end %>
            </div>
          </td>
          <td> <!--Quick Move-->
            <span><%= p.quick_move ? p.quick_move.name : "N/A"%> </span>
          </td>
          <td> <!--Charge Move-->
            <span><%= p.charge_move ? p.charge_move.name : "N/A"%> </span>
          </td>
          <td><div> <!--I'm looking for-->
            <% wl.pokemons.each do |wl_p|%>
              <div class="col-md-2">
                <div class=" button-tooltip">
                  <% if @user.pokemons.select{|p| p.species.id == wl_p.species.id}.any?%>
                    <div class="button-tooltiptext">
                      <div class="popup-name"><span><%= wl_p.name %></span></div>
                      <div class="popup-img"><img src="<%= wl_p.image_url %>"></div>
                      <div class="popup-message-own">You own this pokemon</div>
                    </div>
                    <img src="<%= wl_p.image_url%>" data-species-id="<%= wl_p.species.id%>" class="td-icon listings-wishlist-user-owned">
                  <% else%>
                    <div class="button-tooltiptext">
                      <div class="popup-name"><span><%= wl_p.name %></span></div>
                      <div class="popup-img"><img src="<%= wl_p.image_url %>"></div>
                      <div class="popup-message-not-own">You don't own this.</div>
                    </div>
                    <img src="<%= wl_p.image_url%>" class="td-icon">
                  <% end %>
                </div>
              </div>
            <% end %>
          </div></td>
          <td> <!--Price-->
            <div><%= listing.price ? (listing.price / 100.00).round(2) : 0 %>$</div>
          </td> 
          <td> <!--Add to cart button-->
            <div>
               <div class="button-tooltip">
                <span class="button-tooltiptext">Check out </span>
                <a href="#checkout_popup" class="popup-checkout-button" data-listing-id= <%="\"#{listing.id}\""%>>
                <span class='btn btn-success'></span>Check Out</a>
              </div>

            </div>
          </td>
        </tr>
      <% end %> 
    <% else %> <!--no search result-->
      <tr><td><p>No Listings in Cart</p></td><tr>
    <% end %>
  </tbody>
</table>

<!--completed transactions table-->
<div class='listing-table'><h1 class='intro-text'>Completed Transactions</h1></div>
<table class="table listing-table">
  <thead>
    <th>Pokeman for Sale</th>
    <th>CP</th>
    <th>Type</th>
    <th>Quick Move</th>
    <th>Charge Move</th>
    <th>Seller looking for</th>
    <th>Price</th>
  </thead>
  
  <tbody class="listing-table-body">
    <% if completed_listings.any? %>
      <% completed_listings.each do |listing|%> 
        <tr class="listing-table-row">
        <% p = listing.pokemon %>
        <% wl = listing.wishlist %>
          <td> <!--Pokemon for Sale-->
            <div class=" button-tooltip">
              <div class="button-tooltiptext">
                <div class="popup-img"><img src="<%= p.image_url %>"></div>
                <div class=""><p><%= p.name %></p></div>
              </div>
              <img src="<%= p.image_url %>" class="td-icon">
              <div class="pokemon-for-sale-name"><%= p.name %></div> 
            </div>
          </td>
          <td> <!-- CP -->
            <span><%= p.cp ? p.cp : "N/A" %></span>
          </td>
          <td> <!--Type-->
            <div class="species-type-wrapper">
              <% p.species.types.each do |type|%>
                <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
              <% end %>
            </div>
          </td>
          <td> <!--Quick Move-->
            <span><%= p.quick_move ? p.quick_move.name : "N/A"%> </span>
          </td>
          <td> <!--Charge Move-->
            <span><%= p.charge_move ? p.charge_move.name : "N/A"%> </span>
          </td>
          <td><div> <!--I'm looking for-->
            <% wl.pokemons.each do |wl_p|%>
              <div class="col-md-2 listing-wish-list">
               
                <% if @user.pokemons.select{|p| p.species.id == wl_p.species.id}.any?%>
                  <div class=" button-tooltip listing-wish-list-owned">
                    <div class="button-tooltiptext">
                      <div class="popup-name"><span><%= wl_p.name %></span></div>
                      <div class="popup-img"><img src="<%= wl_p.image_url %>"></div>
                      <div class="popup-message-own">You own this pokemon</div>
                    </div>
                    <img src="<%= wl_p.image_url%>" data-species-id="<%=%>" class="td-icon listings-wishlist-user-owned">
                  </div>
                <% else%>
                  <div class=" button-tooltip">
                    <div class="button-tooltiptext">
                      <div class="popup-name"><span><%= wl_p.name %></span></div>
                      <div class="popup-img"><img src="<%= wl_p.image_url %>"></div>
                      <div class="popup-message-not-own">You don't own this.</div>
                    </div>
                    <img src="<%= wl_p.image_url%>" class="td-icon">
                  </div>
                <% end %>

              </div>
            <% end %>
          </div></td>
          <td> <!--Price-->
            <div><%= listing.price ? (listing.price / 100.00).round(2) : 0 %>$</div>
          </td> 
          <td> <!--Add to cart button-->
            <div>            
              <span class="label label-warning">Completed</span>          
            </div>
          </td>
        </tr>
      <% end %> 
    <% else %> <!--no search result-->
      <tr><td><p>No Listings in Cart</p></td><tr>
    <% end %>
  </tbody>
</table>

<!-- Popup page -->
<!-- Add to trade list -->
<div class="container wrapper mfp-hide cart_popup_content" id="checkout_popup">
  <div class="popup-title intro-text text_center"><span >Choose Buy Pokemon or Trade Pokemon</span></div>
  <!-- panel with form with three input fields -->
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6 popup-checkout-trade-in-wrapper">
        <div class="col-title">
          <span>Pay with money</span>
        </div>
        <div>
          <div class= "thumbnail-wrapper">

          </div>
          <div class="popup-pokemon-name-wrapper">

          </div>
          <div class="popup-pokemon-cp-wrapper">

          </div>
          <div class="popup-pokemon-type-wrapper">

          </div>
          <div class="popup-pokemon-price-wrapper">

          </div>  
        </div>
      </div>
      <div class="col-md-6 popup-checkout-trade-in-wrapper">
        <div class="col-title">
          <span>Pay with pokemon</span>
        </div>
        <div> 
          <% @user.pokemons.each do |p|%>
            <div class="col-md-2 listing-wish-list-popup" data-species-id="<%=p.species.id%>" data-pokemon-id="<%=p.id%>">
              <div class=" button-tooltip">
                <div class="button-tooltiptext">
                  <div class="popup-name"><span><%= p.name %></span></div>
                  <div class="popup-img"><img src="<%= p.image_url %>"></div>
                  <div class="popup-message-not-own"></div>
                </div>
                  <a class="popup-check-out-pokemon-selector" data-pokemon-id="<%= p.id %>"><img src="<%= p.image_url%>" class="td-icon small-icon" data-pokemon-id="<%= p.id %>"></a>     
              </div>
            </div>
          <% end %>
        </div>  
      </div>
    </div>
    <div class='row'>  
      <div class="col-md-6">
        <div class="popup-checkout-form-wrapper">
          <form id="popup-form-pay-money" action='/api/user/<%=@user.id%>/checkout'>  
            <div class="col-sm-5" id="popup-button-wrapper">
              <button class='btn btn-success' id="popup-button" type='submit'>Pay with money</button>
              <div>
              <span id="popup-message"></span>
              </div>
            </div> 
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="popup-checkout-form-wrapper">
          <form id="popup-form-pay-pokemon" action='/api/user/<%=@user.id%>/checkout_with_pokemon'>
            <div class="col-sm-5" id="popup-button-wrapper">
              <button class='btn btn-success' id="popup-button" type='submit'>Pay with pokemon</button>
              <div>
              <span id="popup-message"></span>
              </div>
            </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>