
<!-- Image on the left -->
<div>
  <img src='<%= @species.image_url %>'>
</div>


<!-- form table on the right-->
<div>
  <h2><%= @species.name %></h2>
</div>

<!-- panel with form with three input fields -->
<div class='col-sm-6'>
  <div class='panel panel-default'>
    <form class='form-horizontal panel-body' method="post" action='/pokemon/add/submit'>
      <!-- default inputs-->
      <input type="hidden" name="species_id" value='<%= @species.id %>'>
      <input type="hidden" name="user_id" value='<%= session[:user_id] %>'>
      <!-- custom inputs-->
      <div class='form-group'>
        <label for='name' class='col-sm-2 control-lable'>Name:</label>
        <div class='col-sm-10'>
          <input class='form-control' type='text' id='name' name='name' value='<%= @species.name %>'>
        </div>
      </div>
      <div class='form-group'>
        <label for='cp' class='col-sm-2 control-lable'>CP:</label>
        <div class='col-sm-10'>
          <input class='form-control' type='text' id='cp' name='cp'>
        </div>
      </div>
      <div class='form-group'>
        <label for='quick_move' class='col-sm-2 control-lable'>Quick Move:</label>
        <div class='col-sm-10'>
          <select class="form-control" id='quick_move' name='quick_move'>
          <% Move.all.each do |move|%>
            <option><%= move.name%></option>
          <% end %>
          </select>
        </div>
      </div>
      <div class='form-group'>
        <label for='charge_move' class='col-sm-2 control-lable'>Charge Move:</label>
        <div class='col-sm-10'>
          <select class="form-control" id='charge_move' name='charge_move'>
          <% Move.all.each do |move|%>
            <option><%= move.name%></option>
          <% end %>
          </select>
        </div>
      </div>
      <button class='btn btn-default col-sm-offset-2' type='submit'>Submit</button>
    </form> 
  </div>
</div>