<!--search/filter-->
<div class="row search-bars">
  <div class="col-md-offset-4 col-md-5">
    <label for="search-bar-pokedex">Search by Name</label>
    <select data-placeholder="Choose a name..." class="chosen-select col-md-6" id="search-bar-pokedex" style="width: 500px;" multiple tabindex="2">
      <option value=""></option>
      <% Species.all.order(:name).each do |species|%>
        <option><%= species.name %></option>>
      <% end %>
    </select>
  </div>
  <div class="col-md-3">
    <label for="type-bar-pokedex">Search by Type</label>
    <select data-placeholder="Choose a type..." class="chosen-select col-md-6" id="type-bar-pokedex" style="width: 200px;" multiple tabindex="2">
      <option value=""></option>
      <% Type.all.order(:name).each do |type|%>
        <option><%= type.name %></option>>
      <% end %>
    </select>
  </div>
</div>

<div class="container wrapper" id="pokedex">

  <!-- pokemon cards -->

  <% Species.all.each do |s| %>
    <div class="col-md-2 col-pokedex" data-species-id="<%= s.id %>" >
      <div class="thumbnail">
        <div class= "thumbnail-wrapper">
          <img class="thumbnail-image" src="<%= s.image_url %>" alt="<%= s.name %>" >
        </div>

        <div class="thumbnail-actions">
            <div class="button-tooltip add_to_collection_button_wrapper">
              <span class="button-tooltiptext">Add to My Collection</span>
              <a href="pokemon/add/<%= s.id %>" class="add_to_profile_button popup-ajax" ></a>
            </div>
            <div class="button-tooltip wish_list_button_wrapper">
              <span class="button-tooltiptext">Add to My Wishlist</span>
              <a class="wish_list_button" href="" data-species-id="<%= s.id %>" ><span class='glyphicon glyphicon-heart'></span></a>   
            </div>
        </div>

        <div class="caption">
          <%= s.name %>
        </div>

        <div class="species-type-wrapper">
          <% s.types.each do |type|%>
            <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
          <% end %>
        </div>

      </div>
    </div>
  <% end%>
</div>

<!--Popup Add Pokemon From-->

<a href="/pokemon/add/1" class="popup-ajax"> Show inline popup</a>
