 <!--search/filter-->
<div class="row search-bars">
  <div class="col-md-offset-4 col-md-5">
    <label class="search-bar-pokedex-label" for="search-bar-pokedex">Search by Name</label>
       <input type="text" class="form-control" id="search_bar_pokedex" placeholder="Search">
  </div>
  <div class="col-md-3">
    <label class="type-bar-pokedex-label" for="type-bar-pokedex">Search by Type</label>
    <select data-placeholder="Choose a type..." class="chosen-select col-md-6" id="type-bar-pokedex" style="width: 200px;" multiple tabindex="2">
      <option value=""></option>
      <% Type.all.order(:name).each do |type|%>
        <option><%= type.name %></option>>
      <% end %>
    </select>
  </div>
</div>


<!-- Tabs -->
  <div>
    <ul class="nav nav-pills nav-justified">
      <li role='presentation' class="active"><a class="tab-link" href="#pokedex">All Pokemons</a></li>
      <li role='presentation'><a class="tab-link" href="#owned-pokemon-list">Your Pokemons</a></li>
      <li role='presentation'><a class="tab-link" href="#wish-list">Wishlist</a></li>
      <li role='presentation'><a class="tab-link" href="#trade-list">Trade List</a></li>
    </ul>
  </div>



<div class="container wrapper tabs" >

  <div id="pokedex">
    <!-- pokemon cards -->

    <% Species.all.each do |s| %>
      <div class="col-md-2 col-pokedex" data-species-id="<%= s.id %>" >
        <div class="thumbnail">
          <div class= "thumbnail-wrapper">
            <img class="thumbnail-image" src="<%= s.image_url %>" alt="<%= s.name %>" >
          </div>

          <div class="thumbnail-actions">
            <div class="button-tooltip add_to_collection_button_wrapper">
              <span class="button-tooltiptext">Add to My Collection</span>
              <a href="#test-popup" class="add_to_profile_button popup-ajax" data-species-id= <%="\"#{s.id}\""%> data-species-name= <%="\"#{s.name}\""%>
              data-species-url= <%="\"#{s.image_url}\""%>
              ></a>
            </div>
            <div class="button-tooltip wish_list_button_wrapper">
              <span class="button-tooltiptext">Add to My Wishlist</span>
              <a class="wish_list_button" href="" data-species-id="<%= s.id %>" data-disabled="false" >
                <span class='glyphicon glyphicon-heart'></span>
              </a>   
            </div>  
          </div>

          <div class="caption">
            <%= s.name %>
          </div>

          <div class="species-type-wrapper">
            <% s.types.each do |type|%>
              <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
            <% end %>
          </div>

        </div>
      </div>
    <% end%>
  </div>

  <!-- You pokemons -->
  <!--  -->
  <div class="panel-body" id="owned-pokemon-list">
    <div class="row">
      <% @user.pokemons.each do |pokemon|%>
        <div class="col-md-2 col-pokedex" data-pokemon-id="<%= pokemon.id %>">
          <div class="thumbnail">
            <div class= "thumbnail-wrapper">
              <img class="thumbnail-image" src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>" >
            </div>
            <!-- <div class="notch-collectibles-small thumbnail-actions"> -->
              <!-- <div class="collectibles-wrapper" data-collectibles-slug="bulbasaur" data-slug="bulbasaur">    -->
                <!--buttons-->
                <!-- <a href="pokemon/add/<%= pokemon.id %>"><span class='glyphicon glyphicon-transfer'></span></a> -->
              <!-- </div> -->
            <!-- </div> -->

            <div class="thumbnail-actions">
              <div class="button-tooltip add_to_collection_button_wrapper">
                <span class="button-tooltiptext">Edit</span>
                <a href="#edit-collection-popup" class="add_to_profile_button popup-ajax" data-pokemon-id= <%="\"#{pokemon.id}\""%>></a>
              </div>

              <div class="button-tooltip wish_list_button_wrapper">
                <span class="button-tooltiptext">Remove from Collection</span>
                <a class="remove_from_collection_button" href="" data-pokemon-id="<%= pokemon.id %>" ><span class='glyphicon glyphicon-remove-sign'></span></a>   
              </div>

            </div>


            <div class="caption">
              <%= pokemon.name %>
            </div>

            <div class="species-type-wrapper">
              <% pokemon.species.types.each do |type|%>
              <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
              <% end %>
            </div>

            <div class="species-type-wrapper">
              <span class="pokemon-type-tag">QM:<%= pokemon.quick_move ? pokemon.quick_move.name : "N/A"%></span>
              <span class="pokemon-type-tag">CM:<%= pokemon.charge_move ? pokemon.charge_move.name : "N/A"%></span>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>


  <!-- Wist List -->
  <!--  -->
      <div id="wish-list">
        <div class="panel-body">
          <div class="row">
            <% Species.all.each do |species|%>
              <div class="col-md-2 col-pokedex" data-species-id="<%= species.id %>">
                <div class="thumbnail">
                  <div class= "thumbnail-wrapper">
                    <img class="thumbnail-image" src="<%= species.image_url %>" alt="<%= species.name %>" >
                  </div>

                  <div class="thumbnail-actions">
                      <div class="button-tooltip wish_list_button_wrapper">
                        <span class="button-tooltiptext">Remove from Wishlist</span>
                        <a class="wish_list_button" href="" data-species-id="<%= species.id %>" ><span class='glyphicon glyphicon-remove-sign'></span></a>   
                      </div>
                  </div>

                  <div class="caption">
                    <%= species.name %>
                  </div>

                  <div class="species-type-wrapper">
                    <% species.types.each do |type|%>
                    <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
                    <% end %>
                  </div>

                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

  <!-- Trade List -->

      <div id="trade-list">
        asdfasdf
      </div>



  <!-- Before wrapper end  -->
</div>



<!-- Popup page -->
<!--  -->
<div  class="white-popup mfp-hide" id="test-popup">
  <span class="popup-title"> Customize your pokemon. </span>
  <!-- Image on the left -->
  <div id="popup-add-to-collection-image">

  </div>


  <!-- form table on the right-->
  <div id="popup-add-to-collection-name">
    
  </div>

  <!-- panel with form with three input fields -->
  <div class='col-sm-offset-1 col-sm-10'>
    <div class='panel panel-default'>
      <form class='form-horizontal panel-body' id="popup-add-to-collection-form" method="post" action='api/user/<%= session[:user_id] %>/pokemons'>
        <!-- default inputs-->
        <input type="hidden" name="species_id" value='<%= @user.id %>'>
        <input type="hidden" name="user_id" value='<%= session[:user_id] %>'>
        <!-- custom inputs-->
        <div class='form-group'>
          <label for='name' class='col-sm-2 control-lable'>Nick Name:</label>
          <div class='col-sm-10' id="popup-add-to-collection-nick-name">
            <input class='form-control' type='text' id='name' name='name' value='<%= @user.id %>'>
          </div>
        </div>
        <div class='form-group'>
          <label for='cp' class='col-sm-2 control-lable'>CP:</label>
          <div class='col-sm-10'>
            <input class='form-control' type='text' id='cp' name='cp'>
          </div>
        </div>
        <div class='form-group'>
          <label for='quick_move' class='col-sm-2 control-lable'>Quick Move:</label>
          <div class='col-sm-10'>
            <select data-placeholder="Choose a Quick Move..." class="form-control chosen-select" id='quick_move'  name='quick_move'>
            <% Move.all.each do |move|%>
              <option><%= move.name%></option>
            <% end %>
            </select>
          </div>

        </div>
        <div class='form-group'>
          <label for='charge_move' class='col-sm-2 control-lable'>Charge Move:</label>
          <div class='col-sm-10'>
            <select data-placeholder="Choose a Charge Move..." class="form-control chosen-select" id='charge_move' name='charge_move'>
            <% Move.all.each do |move|%>
              <option><%= move.name%></option>
            <% end %>
            </select>
          </div>
        </div>
        <button class='btn btn-success col-sm-offset-5 col-sm-3' id="popup-add-to-collection-button" type='submit'>Submit</button><div id="popup-add-to-collection-message"></div>
      </form> 
    </div>
  </div>
</div>




