<!--search/filter-->
<div class="row ">
  <div class="container wrapper col-md-6">
    <div class="col-md-6">
      <input type="text" class="form-control" id="search-pokemon" placeholder="Search" name="keyword">
    </div>
  </div>

  <select data-placeholder="Choose a Country..." class="chosen-select col-md-6" id="type-pokemon" multiple style="width:350px;" tabindex="2">
    <option value=""></option>
    <% Type.all.each do |type|%>
      <option><%= type.name %></option>>
    <% end %>
  </select>
</div>

<div class="container wrapper">
  <!--add to wish list form-->
   <form name='wish_list_form' method='post' action="pokemon/wish_list">
      <input id="pokemon_to_wish" type="hidden" name='id' value="">              
    </form>

  <!-- pokemon cards -->

  <% Species.all.each do |s| %>
    <div class="col-md-2 col-pokedex">
      <div class="thumbnail">
        <div class= "thumbnail-wrapper">
          <img src="<%= s.image_url %>" alt="<%= s.name %>" >
        </div>

        <div class="notch-collectibles-small thumbnail-actions">
          <div class="collectibles-wrapper" data-collectibles-slug="bulbasaur" data-slug="bulbasaur">
            <!-- <div class="collectibles-collection"><a href="#" rel="tooltip" title="Add to My Collection" data-collection="have"><span class="icon icon_collection"></span></a></div>
            <div class="collectibles-wishlist"><a href="#" rel="tooltip" title="Add to My Wish List" data-collection="want"><span class="icon icon_wishlist"></span></a></div>   --> 

            <!--buttons-->
            <a href="/pokemon/add/<%= s.id %>" class="popup-ajax"> Show inline popup</a>     
<!--             <a href="pokemon/add/<%= s.id %>"><span class='glyphicon glyphicon-plus-sign'></span></a> -->
            <a class="wish_list_button" data-id="<%= s.id %>" href="#"><span class='glyphicon glyphicon-heart'></span></a>   
           
          </div>
        </div>

        <div class="caption">
          <%= s.name %>
        </div>

        <div class="species-type-wrapper">
          <% s.types.each do |type|%>
            <span class="background-color-<%= type.name.downcase %>"><%= type.name %></span>
          <% end %>
        </div>

      </div>
    </div>
  <% end%>
</div>

<!--Popup Add Pokemon From-->

<a href="/pokemon/add/1" class="popup-ajax"> Show inline popup</a>
