<%= erb :'/search_bar'%>


<!-- Tabs -->
  <div class="container wrapper">
    <ul class="nav nav-pills nav-justified">
      <li role='presentation' class="active"><a class="tab-link" href="#pokedex">All Pokemons</a></li>
      <li role='presentation'><a class="tab-link" href="#owned-pokemon-list">Your Pokemons</a></li>
      <li role='presentation'><a class="tab-link" href="#wish-list">Wishlist</a></li>
      <li role='presentation'><a class="tab-link" href="#trade-list">Trade List</a></li>
    </ul>
  </div>



<div class="container wrapper tabs" >

  <div class="panel-body" id="pokedex">
    <!-- pokemon cards -->

    <% Species.all.each do |s| %>
      <div class="col-md-2 col-pokedex" data-species-id="<%= s.id %>" >
        <div class="thumbnail">
          <div class= "thumbnail-wrapper">
            <img class="thumbnail-image" src="<%= s.image_url %>" alt="<%= s.name %>" >
          </div>

          <div class="thumbnail-actions">
            <div class="button-tooltip add_to_collection_button_wrapper">
              <span class="button-tooltiptext">Add to My Collection</span>
              <a href="#add_to_collection_popup" class="add_to_profile_button popup-add-to-collection" data-species-id= <%="\"#{s.id}\""%> data-species-name= <%="\"#{s.name}\""%>
              data-species-url= <%="\"#{s.image_url}\""%>
              ></a>
            </div>
            <div class="button-tooltip wish_list_button_wrapper">
              <span class="button-tooltiptext">Add to My Wishlist</span>
              <a class="wish_list_button" href="" data-species-id="<%= s.id %>" data-disabled="false" >
                <span class='glyphicon glyphicon-heart'></span>
              </a>   
            </div>  
          </div>

          <div class="caption">
            <%= s.name %>
          </div>

          <div class="species-type-wrapper">
            <% s.types.each do |type|%>
              <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
            <% end %>
          </div>

        </div>
      </div>
    <% end%>
  </div>

  <!-- You pokemons -->
  <!--  -->
  <div class="panel-body" id="owned-pokemon-list">
    <div class="row">
      <% @user.pokemons.each do |pokemon|%>
        <div class="col-md-2 col-pokedex" data-pokemon-id="<%= pokemon.id %>">
          <div class="thumbnail">
            <div class= "thumbnail-wrapper">
              <img class="thumbnail-image" src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>" >
            </div>
            <!-- <div class="notch-collectibles-small thumbnail-actions"> -->
              <!-- <div class="collectibles-wrapper" data-collectibles-slug="bulbasaur" data-slug="bulbasaur">    -->
                <!--buttons-->
                <!-- <a href="pokemon/add/<%= pokemon.id %>"><span class='glyphicon glyphicon-transfer'></span></a> -->
              <!-- </div> -->
            <!-- </div> -->

            <div class="thumbnail-actions">
              <div class="button-tooltip add_to_collection_button_wrapper">
                <span class="button-tooltiptext">Edit</span>
                <a href="#edit_pokemon_popup" class="edit_in_collection_button popup-edit-pokemon" data-pokemon-id= <%="\"#{pokemon.id}\""%> data-pokemon-name= <%="\"#{pokemon.name}\""%> data-pokemon-url= <%="\"#{pokemon.image_url}\""%> data-pokemon-species-name= <%="\"#{pokemon.species.name}\""%> data-pokemon-cp= <%="\"#{pokemon.cp}\""%>><span class='glyphicon glyphicon-cog'></span></a>
              </div>


              <div class="button-tooltip add_to_collection_button_wrapper">
                <span class="button-tooltiptext">Add to My Trade List</span>
                <a href="#add_to_trade_list_popup" class="add_to_trade_list_button popup-add-to-trade-list" data-pokemon-id= <%="\"#{pokemon.id}\""%> data-pokemon-name= <%="\"#{pokemon.name}\""%> data-pokemon-url= <%="\"#{pokemon.image_url}\""%> data-pokemon-species-name= <%="\"#{pokemon.species.name}\""%> data-pokemon-cp= <%="\"#{pokemon.cp}\""%>>
                <span class='glyphicon glyphicon-transfer'></span></a>
              </div>

              <div class="button-tooltip wish_list_button_wrapper">
                <span class="button-tooltiptext">Remove from Collection</span>
                <a class="remove_from_collection_button" href="" data-pokemon-id="<%= pokemon.id %>" ><span class='glyphicon glyphicon-remove-sign'></span></a>   
              </div>

            </div>


            <div class="caption collection-pokemon-name">
              <%= pokemon.name %>
            </div>
            <div class="caption collection-pokemon-cp">
              CP: <%= pokemon.cp || "N/A" %>
            </div>

            <div class="species-type-wrapper">
              <% pokemon.species.types.each do |type|%>
              <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
              <% end %>
            </div>

            <div class="species-move-wrapper">
              <span class="pokemon-type-tag collection-pokemon-qm">QM:<%= pokemon.quick_move ? pokemon.quick_move.name : "N/A"%></span>
              <span class="pokemon-type-tag collection-pokemon-cm">CM:<%= pokemon.charge_move ? pokemon.charge_move.name : "N/A"%></span>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>


  <!-- Wist List -->
  <!--  -->
  <div id="wish-list">
    <div class="panel-body">
      <div class="row">
        <% Species.all.each do |species|%>
          <div class="col-md-2 col-pokedex" data-species-id="<%= species.id %>">
            <div class="thumbnail">
              <div class= "thumbnail-wrapper">
                <img class="thumbnail-image" src="<%= species.image_url %>" alt="<%= species.name %>" >
              </div>

              <div class="thumbnail-actions">
                  <div class="button-tooltip wish_list_button_wrapper">
                    <span class="button-tooltiptext">Remove from Wishlist</span>
                    <a class="wish_list_button" href="" data-species-id="<%= species.id %>" ><span class='glyphicon glyphicon-remove-sign'></span></a>   
                  </div>
              </div>

              <div class="caption">
                <%= species.name %>
              </div>

              <div class="species-type-wrapper">
                <% species.types.each do |type|%>
                <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
                <% end %>
              </div>

            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Trade List -->

  <div id="trade-list">

    <table class="table listing-table">
      <thead>
        <th>Pokeman for Sale</th>
        <th>CP</th>
        <th>Type</th>
        <th>Quick Move</th>
        <th>Charge Move</th>
        <th>I'm looking for</th>
        <th>Price</th>
      </thead>
      <tbody class="listing-table-body">
        <% if @user.listings.any? %>
          <% @user.listings.each do |listing|%> 
            <tr class="listing-item" data-listing-id="<%= listing.id %>">
            <% p = listing.pokemon %>
            <% wl = listing.wishlist %>
              <td> <!--Pokemon for Sale-->
                <div class=" button-tooltip">
                  <div class="button-tooltiptext">
                    <div class="popup-img"><img src="<%= p.image_url %>"></div>
                    <div class=""><p><%= p.name %></p></div>
                  </div>
                  <img src="<%= p.image_url %>" class="td-icon">
                  <div><%= p.name %></div> 
                </div>
              </td>
              <td> <!-- CP -->
                <span><%= p.cp ? p.cp : "N/A" %></span>
              </td>
              <td> <!--Type-->
                <div class="species-type-wrapper">
                  <% p.species.types.each do |type|%>
                    <span class="background-color-<%= type.name.downcase %> pokemon-type-tag"><%= type.name %></span>
                  <% end %>
                </div>
              </td>
              <td> <!--Quick Move-->
                <span><%= p.quick_move ? p.quick_move.name : "N/A"%> </span>
              </td>
              <td> <!--Charge Move-->
                <span><%= p.charge_move ? p.charge_move.name : "N/A"%> </span>
              </td>
              <td><div> <!--I'm looking for-->
                <% wl.pokemons.each do |wl_p|%>
                  <div class="col-md-2">
                    <div class=" button-tooltip">
                      <% if @user.pokemons.select{|p| p.species.id == wl_p.species.id}.any?%>
                        <div class="button-tooltiptext">
                          <div class="popup-name"><span><%= wl_p.name %></span></div>
                          <div class="popup-img"><img src="<%= wl_p.image_url %>"></div>
                          <div class="popup-message-own">You own this pokemon</div>
                        </div>
                        <img src="<%= wl_p.image_url%>" class="td-icon listings-wishlist-user-owned">
                      <% else%>
                        <div class="button-tooltiptext">
                          <div class="popup-name"><span><%= wl_p.name %></span></div>
                          <div class="popup-img"><img src="<%= wl_p.image_url %>"></div>
                          <div class="popup-message-not-own">You don't own this.</div>
                        </div>
                        <img src="<%= wl_p.image_url%>" class="td-icon">
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div></td>
              <td> <!--Price-->
                <div><%= listing.price ? (listing.price / 100.00).round(2) : 0 %>$</div>
              </td> 
              <td> 
                <div>
                  <%if listing.status == "completed" %>
                  
                    <span class="label label-warning">Completed</span>
                  <% else %>
                    <span class="label label-success">Current</span>                  
                  <% end %>
                </div>  
              </td>
              <td>
                <div class="button-tooltip wish_list_button_wrapper">
                  <span class="button-tooltiptext">Remove listing</span>
                  <a class="remove_listing_button" href="" data-listing-id="<%= listing.id %>"><span class='glyphicon glyphicon-remove-sign'></span></a>
                </div>
              </td>
            </tr>
          <% end %> 
        <% else %> <!--no search result-->
          <tr><td><p>No listing found</p></td><tr>
        <% end %>
      </tbody>
    </table>  
  </div>



  <!-- Before wrapper end  -->
</div>



<!-- Popup page -->
<!-- Add to collection -->
<div  class="white-popup mfp-hide" id="add_to_collection_popup">
  <span class="popup-title"> Customize your pokemon. </span>
  <!-- Image on the left -->
  <div id="popup-species-image"></div>

  <!-- form table on the right-->
  <div id="popup-species-name"></div>

  <!-- panel with form with three input fields -->
  <div class='col-sm-offset-1 col-sm-10'>
    <div class='panel panel-default'>
      <form class='form-horizontal panel-body' id="popup-form" method="post" action='api/user/<%= session[:user_id] %>/pokemons'>
        <!-- default inputs-->
        <input type="hidden" name="species_id" value='<%= @user.id %>'>
        <input type="hidden" name="user_id" value='<%= session[:user_id] %>'>
        <!-- custom inputs-->
        <div class='form-group'>
          <label for='name' class='col-sm-2 control-lable'>Nick Name:</label>
          <div class='col-sm-10' id="popup-nick-name">
            <input class='form-control' type='text' id='name' name='name' value='<%= @user.id %>'>
          </div>
        </div>
        <div class='form-group'>
          <label for='cp' class='col-sm-2 control-lable'>CP:</label>
          <div class='col-sm-10'>
            <input class='form-control' type='text' id='cp' name='cp'>
          </div>
        </div>
        <div class='form-group'>
          <label for='quick_move' class='col-sm-2 control-lable'>Quick Move:</label>
          <div class='col-sm-10'>
            <select data-placeholder="Choose a Quick Move..." class="form-control chosen-select" id='quick_move'  name='quick_move'>
            <% Move.all.each do |move|%>
              <option><%= move.name%></option>
            <% end %>
            </select>
          </div>

        </div>
        <div class='form-group'>
          <label for='charge_move' class='col-sm-2 control-lable'>Charge Move:</label>
          <div class='col-sm-10'>
            <select data-placeholder="Choose a Charge Move..." class="form-control chosen-select" id='charge_move' name='charge_move'>
            <% Move.all.each do |move|%>
              <option><%= move.name%></option>
            <% end %>
            </select>
          </div>
        </div>
        <button class='btn btn-success col-sm-offset-5 col-sm-3' id="popup-button" type='submit'>Submit</button><div id="popup-message"></div>
      </form> 
    </div>
  </div>
</div>

<!-- Popup page -->
<!-- Edit pokemon -->
<div  class="white-popup mfp-hide" id="edit_pokemon_popup">
  <span class="popup-title"> Edit your pokemon. </span>
  <!-- Image on the left -->
  <div id="popup-species-image"></div>

  <!-- form table on the right-->
  <div id="popup-species-name"></div>

  <!-- panel with form with three input fields -->
  <div class='col-sm-offset-1 col-sm-10'>
    <div class='panel panel-default'>
      <form class='form-horizontal panel-body' id="popup-form" method="post" action='api/user/<%= session[:user_id] %>/pokemons'>
        <!-- default inputs-->
        <input type="hidden" name="species_id" value='<%= @user.id %>'>
        <input type="hidden" name="user_id" value='<%= session[:user_id] %>'>
        <!-- custom inputs-->
        <div class='form-group'>
          <label for='name' class='col-sm-2 control-lable'>Nick Name:</label>
          <div class='col-sm-10' id="popup-nick-name">
            <input class='form-control' type='text' id='name' name='name' value='<%= @user.id %>'>
          </div>
        </div>
        <div class='form-group'>
          <label for='cp' class='col-sm-2 control-lable'>CP:</label>
          <div class='col-sm-10' id="popup-cp">
            <input class='form-control' type='text' id='cp' name='cp'>
          </div>
        </div>
        <div class='form-group'>
          <label for='quick_move' class='col-sm-2 control-lable'>Quick Move:</label>
          <div class='col-sm-10'>
            <select data-placeholder="Choose a Quick Move..." class="form-control chosen-select" id='quick_move'  name='quick_move'>
            <% Move.all.each do |move|%>
              <option><%= move.name%></option>
            <% end %>
            </select>
          </div>

        </div>
        <div class='form-group'>
          <label for='charge_move' class='col-sm-2 control-lable'>Charge Move:</label>
          <div class='col-sm-10'>
            <select data-placeholder="Choose a Charge Move..." class="form-control chosen-select" id='charge_move' name='charge_move'>
            <% Move.all.each do |move|%>
              <option><%= move.name%></option>
            <% end %>
            </select>
          </div>
        </div>
        <div>
          <button class='btn btn-success col-sm-offset-5 col-sm-3' id="popup-button" type='submit'>Submit</button>
        </div>
        <div id="popup-message"></div>
      </form> 
    </div>
  </div>
</div>


<!-- Popup page -->
<!-- Add to trade list -->
<div  class="container wrapper mfp-hide" id="add_to_trade_list_popup">
  <div class="popup-title intro-text"><span > Please fill in your listing price or select pokemon to trade! </span></div>
  
  <!-- Image on the left -->
  <!-- <div id="popup-species-image"></div> -->

  <!-- form table on the right-->
  <!-- <div id="popup-species-name"></div> -->

  <!-- panel with form with three input fields -->
  <div class="col-sm-12 panel-body">
    <div class="row">
      <div class="transfer-box-1">
        <div class="col-title intro-text text-center">
          <span>Trade Out</span>
        </div>
        <div class="thumbnail">
          <div class= "thumbnail-wrapper">
          </div>
          <div class="caption collection-pokemon-name">
          </div>
          <div class="caption collection-pokemon-cp">
          </div>
          <div class="species-type-wrapper">
          </div>
          <div class="species-move-wrapper">
          </div>
        </div>
      </div>
      <div class="transfer-box-2" id="transfer-icon">
        <h1><span class='glyphicon glyphicon-transfer'></span></h1>
      </div>  

      <div class="transfer-box-3">
        <div class="col-title intro-text text-center">
          <span>Trade In</span>
        </div>
        <% wl = @user.user_wish_list.pokemons.map{|p|p.species.id} %>
        <% wl.uniq.map{|id|Species.find(id)}.each do |wl_p|%>
          <div class=" button-tooltip">
            <div class="button-tooltiptext">
              <div class="popup-name"><span><%= wl_p.name %></span></div>
            </div>
            <a class="trade-form-wish-list-item" data-species-id="<%= wl_p.id %>"><img class="small-icon" src="<%= wl_p.image_url%>" class="td-icon"></a>
          </div>
        <% end %>
      </div>  
      <div class="transfer-box-4" id="transfer-icon">
        <h3>OR</h3>
      </div>
      <div class="transfer-box-5">
        <div class="row col-title intro-text text-center">
          <span>Price</span>
        </div>
        <div class="row col-md-12">
          <form class='form-horizon' id="popup-form" action='api/user/<%= session[:user_id] %>/listings'>
            <div class='form-group'>
              <label for="price">$</label>
              <input class='form-contorl' type="textarea" id="price" name="price"> 
            </div>
          </form>
        </div>
        <div class="row col-sm-12" id="popup-button-wrapper">
          <div><button class='btn btn-success' id="popup-button" type='submit'>Submit</button><div>
          <div>
            <span id="popup-message"></span>
          </div>
        </div>         
      </div>
    </div>
  </div>
</div>



